<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <h4 style="color:antiquewhite">Handlebars</h4>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" style="margin-left:1200px;" >
        <a class="nav-link active" aria-current="page" href="/"><u><b>Home</b></u></a>
        <a class="nav-link active active" href="/user/login"><u><b>Login</b></u></a>
        <a class="nav-link active" href="/user/registration"><u><b>Registration</b></u></a>
      </div>
    </div>
  </div>
</nav>