{{> navbar}}
<h2 class="text-center m-1 h1">Handlebars Assignment 3</h2>
<div>
    <img src="https://png.pngtree.com/thumb_back/fh260/background/20201104/pngtree-technology-background-binary-computer-code-vector-design-image_458702.jpg" style="display:block; height:30%; width:100%;" class="center">
</div>

    {{> footer}}